.button {
  padding: 0.3125rem 0.625rem;
  color: white;
  border: none;
  cursor: pointer;
  &.button-success {
    background-color: green;
  }
  &.button-warning {
    background-color: orange;
  }
  &.button-info {
    background-color: blue;
  }
}
.button + .button {
  margin-left: 0.625rem;
}
